* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Verdana, sans-serif;
  color: #fff;
}

@-moz-document url-prefix() {
  /* Disable scrollbar Firefox */
  html {
    scrollbar-width: none;
  }
}
body {
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  overflow-x: hidden !important;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.overlay img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  -webkit-animation: zoom 25s ease-in-out infinite;
          animation: zoom 25s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}
@-webkit-keyframes zoom {
  0%, 100% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(2) translateY(10%);
  }
  75% {
    transform: scale(1.5) translate(-10%, 8%);
  }
}
@keyframes zoom {
  0%, 100% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(2) translateY(10%);
  }
  75% {
    transform: scale(1.5) translate(-10%, 8%);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
}
.container .logo {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 1.5rem;
}
.container .coming-soon {
  position: relative;
  font-size: 5rem;
  padding: 16px;
  text-transform: uppercase;
}
.container .coming-soon::first-letter {
  background-color: rgba(0, 0, 0, 0.3137254902);
  padding: 0px 10px;
  border-radius: 16px;
}
.container .coming-soon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  background-color: #fff;
  height: 2px;
  border-radius: 5px;
}
.container .coming-soon-text p {
  font-size: 1.5rem;
  padding: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3137254902);
  margin-top: 16px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.container .coming-soon-text p:hover {
  letter-spacing: 5px;
  border-radius: 5px;
}
.container #btn-play {
  padding: 16px 32px;
  color: #fff;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0;
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: rgba(0, 0, 0, 0.3137254902);
  border-radius: 32px;
}
.container #signup-btn {
  padding: 16px 32px;
  color: #000;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  background-color: #ffffff;
  margin-top: 32px;
  border-radius: 32px;
  transition: all 0.5s ease-in-out;
}
.container #signup-btn:hover {
  background-color: rgba(0, 0, 0, 0.3137254902);
  color: #fff;
}
.container .signup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3137254902);
  z-index: 4;
  display: none;
}
.container .signup-overlay #close-signup {
  position: absolute;
  top: 32px;
  right: 32px;
  font-size: 2.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3137254902);
  padding: 4px 16px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  transition: all 0.5s ease-in-out;
  z-index: 6;
}
.container .signup-overlay #close-signup:hover {
  color: red;
  background-color: rgba(0, 0, 0, 0.6);
}
.container .signup-overlay .signup-form {
  padding: 32px;
  max-width: 450px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6901960784);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
  -webkit-animation: toBottom 0.5s ease-in-out;
          animation: toBottom 0.5s ease-in-out;
}
.container .signup-overlay .signup-form .signup-form-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 16px;
}
.container .signup-overlay .signup-form input {
  padding: 16px;
  border: 0;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.container .signup-overlay .signup-form input:focus {
  outline: none;
}
.container .signup-overlay .signup-form button {
  padding: 16px 32px;
  border: 0;
  border-radius: 32px;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  align-self: baseline;
  margin-top: 16px;
}
@-webkit-keyframes toBottom {
  0% {
    top: -50%;
  }
  100% {
    top: 50%;
  }
}
@keyframes toBottom {
  0% {
    top: -50%;
  }
  100% {
    top: 50%;
  }
}
@-webkit-keyframes toTop {
  0% {
    top: 50%;
  }
  100% {
    top: -50%;
  }
}
@keyframes toTop {
  0% {
    top: 50%;
  }
  100% {
    top: -50%;
  }
}
.container .signup-overlay.open {
  display: block;
}
.container .copy-rights {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 1.1rem;
}/*# sourceMappingURL=index.css.map */